extends layout.pug

block style 
    style 
       include ../static/css/style.css
       include ../static/css/utility.css
       include ../static/css/onlineadmission.css
       include ../static/css/about.css


block content   
    section#about-section 
                
        div     
            h1 About Us
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, itaque. Alias ipsam laboriosam ipsum tenetur facere exercitationem assumenda tempore vel obcaecati. Ipsam, non! Sunt quos aut porro, harum consequatur minima impedit iste ut temporibus illo enim doloremque animi aperiam corrupti, asperiores ex saepe numquam tempora velit. Ipsam ipsum voluptatibus vel fugit, illo minima iusto, temporibus eaque odio, blanditiis eius itaque. Soluta harum quasi excepturi, inventore suscipit sed cumque omnis magnam ipsa autem explicabo asperiores beatae, dicta quos consequatur? Earum, quos? Odit debitis iste placeat sed eum consequuntur officiis praesentium. Obcaecati officia necessitatibus in ex exercitationem dolores, hic illum reprehenderit autem sed error impedit quod aliquam ab maxime? Commodi sed minus incidunt tempore itaque magnam molestiae, minima laudantium, unde modi in, nisi mollitia sint atque quae quasi repudiandae earum necessitatibus et! Praesentium, ab exercitationem sed aperiam ea recusandae eveniet rem, quae, cumque ullam qui corporis. Voluptatum voluptates eaque quidem officia magnam vitae assumenda modi odio velit et rerum necessitatibus saepe voluptatibus, ratione praesentium ducimus voluptatem nobis facilis perferendis eligendi quaerat optio doloremque quisquam? Soluta, fugiat inventore voluptate corrupti dolor veritatis perferendis esse nemo suscipit, tenetur sunt sequi numquam. Ea, esse rem. Repellat incidunt suscipit sequi amet alias consectetur, quia error reprehenderit!


