<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GHS Kholian Bala</title>

  <link rel="stylesheet" href="../static/css/style.css">

  <link rel="stylesheet" href="../static/css/utility.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Miriam+Libre&display=swap" rel="stylesheet">

</head>
<body>
  <nav id="navbar" class="navbar">
    <div id="logo">
      <img src="../static/images/img for logo/logo.jpg" alt="">
    </div>
    <div id="ulhead">
      <hr>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/onlineadmission">Online Admission</a></li>
      </ul>
      <hr>
    </div>
  </nav>
 
 

  <!-- Top-Secton -->
  <section id="top-section">
    <h1>Welcome to GHS Kholian Bala</h1>
    <p>GHS Kholian Bala is a good choice for all of you if you want to see your children as a succesful human</p>
    <svg xmlns:xlink="http://www.w3.org/1999/xlink" id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 240" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="#fff" offset="0%"/><stop stop-color="#fff" offset="100%"/></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,96L60,84C120,72,240,48,360,52C480,56,600,88,720,112C840,136,960,152,1080,148C1200,144,1320,120,1440,96C1560,72,1680,48,1800,40C1920,32,2040,40,2160,36C2280,32,2400,16,2520,20C2640,24,2760,48,2880,64C3000,80,3120,88,3240,88C3360,88,3480,80,3600,88C3720,96,3840,120,3960,116C4080,112,4200,80,4320,80C4440,80,4560,112,4680,120C4800,128,4920,112,5040,112C5160,112,5280,128,5400,144C5520,160,5640,176,5760,188C5880,200,6000,208,6120,192C6240,176,6360,136,6480,132C6600,128,6720,160,6840,168C6960,176,7080,160,7200,156C7320,152,7440,160,7560,144C7680,128,7800,88,7920,80C8040,72,8160,96,8280,104C8400,112,8520,104,8580,100L8640,96L8640,240L8580,240C8520,240,8400,240,8280,240C8160,240,8040,240,7920,240C7800,240,7680,240,7560,240C7440,240,7320,240,7200,240C7080,240,6960,240,6840,240C6720,240,6600,240,6480,240C6360,240,6240,240,6120,240C6000,240,5880,240,5760,240C5640,240,5520,240,5400,240C5280,240,5160,240,5040,240C4920,240,4800,240,4680,240C4560,240,4440,240,4320,240C4200,240,4080,240,3960,240C3840,240,3720,240,3600,240C3480,240,3360,240,3240,240C3120,240,3000,240,2880,240C2760,240,2640,240,2520,240C2400,240,2280,240,2160,240C2040,240,1920,240,1800,240C1680,240,1560,240,1440,240C1320,240,1200,240,1080,240C960,240,840,240,720,240C600,240,480,240,360,240C240,240,120,240,60,240L0,240Z"/></svg>  </section>

  <!-- About-Section  -->
  <section id="about-section" class="row">
    <div class="col col1">
      <img src="../static/images/img for home/front.jpg" alt="<h1>About Us</h1>" id="aboutimg">
    </div>    
    <div class="col col2">
      <h1>About Us</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nemo consectetur animi est cumque reiciendis, magnam enim esse laboriosam assumenda voluptatem, fuga beatae fugiat aut! Quae eligendi voluptas suscipit, possimus itaque placeat tempore harum perferendis consequuntur maxime veritatis eius aliquam, voluptate quibusdam accusamus aliquid est illum quaerat cumque aperiam eveniet nulla dolorum.</p>
    </div>
  </section>

  <!-- Facilities Section -->
  <section id="facilities-section">
    <h1>Our Facilities</h1>
    <div class="cards-row">
      <div class="cards card1">
        <img src="../static/images/img for cards/classroom1.jpg" alt="">
        <h1>Advanced Classrooms</h1>
        <p>We have neat, clean and well designed Classrooms </p>
      </div>
      <div class="cards card2">
        <img src="../static/images/img for cards/science lab.jpg" alt="">
        <h1>Well Equiped Lab</h1>
        <p>We have also the facility of well equiped science lab</p>
      </div>
      <div class="cards card3">
        <img src="../static/images/img for cards/computer lab.jpg" alt="">
        <h1>Nice Computer Lab</h1>
        <p>We have Computer lab and equip relative to tecnology</p>
      </div>
    </div>
    <button class="btn">Show more...</button>
  </section>

    <!-- Staff-Section -->

    <section id="staff-section">
      <h1>Our Staff</h1>
      <div class="staff-section-head">
        <div class="staff-section-head-content">
          <h1 class="h1">Well Educated Staff</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum excepturi et deserunt repellendus praesentium. Aliquid voluptatem labore, totam necessitatibus cum doloribus. Amet nemo nulla magnam neque non alias. Corporis temporibus cupiditate possimus asperiores velit, dolorem doloremque perspiciatis rerum optio quidem.</p>
        </div>
        <div class ="staff-section-head-img">
        <img src="../static/images/img for staff/staffhead.jpg" alt="">
      </div>
      </div>
      <button class="btn staff-section-btn">Show more...</button>

    </section>

    <!-- Registration And Online Admission Section -->

    <section id="reg-onadm-section">

      <div class="reg-onadm-section-cards reg-card">
        <h1>Register Online</h1>
        <p>A quick and easy process</p>
        <a href="">Register Now</a>
        <img src="../static/images/img for reg and onadm/register-online.jpg" alt="">
      </div>

      <div class="reg-onadm-section-cards onadm-card">
        <h1>Online Admission</h1>
        <p>Easy and plane way</p>
        <a href="./online admission.pug">Online Admission</a>
        <img src="../static/images/img for reg and onadm/register-online.jpg" alt="">
      </div>

    </section>
  
    <!-- News and Events -->

    <section id="news-events-section">

    </section>
      
    <!-- Footer Section -->

    <footer>
      
    </footer>

    <script src="../static/index.js"></script>
</body>
</html>
